* {
    margin: 0;
    padding: 0;
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    padding: 1rem;
    background: white;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    box-shadow: 5px 5px 20px 0px #D7D4D4;
}
.header img {
    width: 100px;
    float: left;
    margin-top: 25px;
    margin-left: 50px;
}
.nav {
    width: 100%;
}
.nav li {
    height: 58px;
    list-style: none;
    float: right;
    text-align: center;
    margin: 44px 27px 0 27px;
    font-size: 25px;
}
a {
    color: #2E2E2E;
    text-decoration: none;
}
.nav li a:hover {
    color: #848484;
    text-decoration: none;
}
.header_line {
    margin-top: -10px;
    border: 0px;
    background: gray;
}

/* main */
.main{
    height: 805px;
    width: 100%;
    margin-top: 130px;
}

/* main-left */
.list {
    position: relative;
    float: left;
    width: 450px;
    height: 100%;
    text-indent: 10px;
    border-right: 1.5px solid lightgray;
}
.title img {
    position: absolute;
    width: 37px;
    height: 37px;
    margin-left: -60px;
}
.listul {
    width: 100%;
    margin:0;
    padding:0;
    list-style:none;
    height: 29px;
    margin-left: 116px;
    font-size: 25px;
    line-height: 29px;
}
.group {
    float: left;
    list-style: none;
}
.group .title {
    height: 35px;
    line-height: 35px;
    margin-top: 37px;
    margin-bottom: 17px;
    cursor:pointer;
    font-weight: bold;
}
.sub li {
    width: 300px;
    font-size: 20px;
    list-style: none;
    margin-left: 20px;
    margin-bottom: 2px;
    height:35px;
    line-height:35px;
    cursor:pointer;
}
.sub div {
    width: 20px;
    height: 20px;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
}
.list_edit_ul {
    position: absolute;
    width: 100%;
    border-top: 3px solid gray;
    list-style: none;
    float: left;
    bottom: 0;
    margin-bottom: 20px;
    padding-top: 20px;
    display: flex;
}
.list_edit_ul li {
    border: 1px solid black;
    width: 40px;
    height: 33px;
    margin: 0 auto;
}

/* main-right */
.unit_list {
    width: 820px;
    float: left;
    display: inline-block;
    margin-left: 80px;
}
.unit_list_ul {
    margin-top: 66px;
    width: 840px;
    list-style: none;
}
.unit_list_sub {
    height: 40px;
    margin-bottom: 20px;
    padding: 35px 0 22px 23px;
    border-radius: 13px;
    background: #fcd121;
    color: white;
    font-size: 25px;
    line-height: 25px;
    position: relative;
}
.unit_list_ul_last {
    padding-top: 14px;
    padding-bottom: 34px;
    text-align: center;
    border-radius: 13px;
    background: #FFFF;
    border: 2px solid #C4C4C4;
    color: #C4C4C4;
    font-size: 25px;
    line-height: 25px;
    cursor: pointer;
}
.unit_list_sub_ul {
    position: absolute;
    width: 120px;
    height: 14px;
    display: inline-block;
    right: 0;
    bottom: 20px;
    margin-right: 4px;
}
.unit_list_sub_ul li {
    display: inline;
    margin-right: 15px;
    float: left;
    color: white;
}
.unit_list_sub_ul li img {
    width: 20px;
    height: auto;
}
/* footer */
.footer {
    width: 100%;
    height: 100px;
    background-color: #363636;
    align-items: center;
}
.footer img {
    margin-top: 35px;
    margin-left: 50px;
}
.footer p {
    color: white;
    float: right;
    margin-top: 35px;
    margin-right: 50px;
}