body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow : hidden;
}

#wrapper{
    display: inline-grid;
    grid-template-columns: 3;
}

#main_container{
    display: flex;
    grid-column: 2/3;
    justify-content: center;
    margin-top : 50px;
    margin-bottom:50px;
}

#main {
    width: 1000px;
    height: 600px;
    border-radius: 3rem;
    background-color: #ffeb9a;
}

.line {
    border: 1px solid #8f8f8f;
    margin: auto;
    width: 950px;
}

img {
    padding: 0 30px 0 30px;
    width: 50px;
    height: 45px;
    cursor:pointer;
}

.btn_wrap { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.previous {
    grid-column: 1/2;
}

.next {
    grid-column: 3/4;
}

.page-number {
    margin-top : 20px;
    font-size : 25px;
    font-weight:normal;
    color:#8f8f8f;
}

.text {
    margin : 90px 0 110px 0;
    font-size: 50px;
    font-weight:500;
}

.text-answer {
    color:#8f8f8f;
    line-height:100px;
    font-size: 30px;
}

.answer {
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    margin : 0 10px 20px 10px;
    width: 430px;
    height: 100px;
    background-color:#fff7d5;
}

.item1 {
    margin-top:25px;
}

.answer:hover {
    line-height: 90px;
    border: 5px solid #fcd121;
    cursor:pointer;
}



